<h1 style="background-color: #2E2F30; color: #DADADA ; text-align: center">About us </h1>
<p>we love what we do</p>
<p>
<a href="https://guides.rubyonrails.org/v5.2/getting_started.html">Contact</a>
</p>

