// Place all the styles related to the Aritcles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
  border_collapse: collapse;
}

table tr td{
  padding: 10px;
}

thead {
  text-align: left;
  background-color: green;
  color: white;
}
thead th {
  padding: 10px;
}

.list_line_even {
  background-color: blue;
}

.list_line_odd {
  background-color: red;
}
